site_name: Curve Fit
nav:
  - Home: 'index.md'
  - Methods: 'methods.md'
  - Code: 'code.md'
  - Release Notes: 'updates.md'
  - Examples:
    - get_started_xam: 'extract_md/get_started_xam.md'
    - covariate_xam: 'extract_md/covariate_xam.md'
    - random_effect_xam: 'extract_md/random_effect_xam.md'
    - param_time_fun_xam: 'extract_md/param_time_fun_xam.md'
  - Developer Doc:
    - Loss Functions:
      - st_loss: 'extract_md/st_loss.md'
      - normal_loss: 'extract_md/normal_loss.md'
      - loss_xam:    'extract_md/loss_xam.md'
    - unzip_x: 'extract_md/unzip_x.md'
    - unpack_param: 'extract_md/unpack_param.md'
    - sizes_to_indices: 'extract_md/sizes_to_indices.md'
    - split_by_group: 'extract_md/split_by_group.md'
    - param_time_fun: 'extract_md/param_time_fun.md'
    - effects2params: 'extract_md/effects2params.md'
    - objective_fun: 'extract_md/objective_fun.md'
    - extract_md.py: 'extract_md/extract_md.py.md'
    - get_cppad_py.py: 'extract_md/get_cppad_py.py.md'
    - Developer Examples:
      - unzip_x_xam: 'extract_md/unzip_x_xam.md'
      - unpack_param_xam: 'extract_md/unpack_param_xam.md'
      - sizes_to_indices_xam: 'extract_md/sizes_to_indices_xam.md'
      - effects2params_xam: 'extract_md/effects2params_xam.md'
      - objective_fun_xam: 'extract_md/objective_fun_xam.md'
theme:
    name: 'material'
    palette:
        primary: 'green'
        accent: 'green'
extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
markdown_extensions:
  - mdx_math
  - admonition
  - codehilite
  - footnotes
  - mkautodoc
